.aboutBox{
    width: 90em;
    height: 30em;
    margin-left: 15em;
    outline-style: solid;
    outline-color: gray ;
    background-color: rgba(102, 174, 79, .5);
}

.ourStory{
    text-align: center ;
    padding: 20px;
}

.aboutUsTitle{
    text-align: center;
    padding-top: 1em;
}