ul {
    list-style-type: none;
    margin: 0;
    padding-top: 3vh;
}

li {
    display: inline;
    margin: 2em;
}

.home{
    margin-right: 78em;
}

#rectangle {
    height: 8vh;
    width: 100vw;
    background-color: #66ae4f;
    font-size: 15.5px;
    font-weight: bold;
    margin-left: -1vw;
    margin-top: -1vh;
  }
